{% load staticfiles %}

<link href="{% static 'css/themes/collapsible-menu/materialize.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/themes/collapsible-menu/style.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'vendors/perfect-scrollbar/perfect-scrollbar.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'vendors/data-tables/css/jquery.dataTables.min.css' %}" type="text/css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.5/sweetalert2.css" type="text/css" rel="stylesheet">
<link href="{% static 'css/custom/custom.css' %}" type="text/css" rel="stylesheet">