<footer class="page-footer black darken-4">
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright ©
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script>
                <a class="grey-text text-lighten-4" href="#" target="_blank"></a>
            </span>
            <span class="right hide-on-small-only"> Diseño y Desarrollo para <a class="white-text text-darken-2" href="#"><strong>Rodrigo Chingal</strong></a></span>
        </div>
    </div>
</footer>